<!--#カードUIを使用した場合-->
<div class="container col-xl-8 col-lg-9 my-4 px-sm-1">
  <div class="px-1 ml-md-2">
    <h5 class="bg-light text-center ml-5 mb-4" style="max-width: 300px;">みんなのレシピ一覧(新着順)</h5>
  </div>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <% if recipe.post_image.attached? %>
            <%= link_to admin_recipe_path(recipe) do %>
              <%= image_tag recipe.post_image.variant(resize_to_fill: [300, 200]) , class: "card-img-top", alt: recipe.title %>
            <% end %>
          <% else %>
            <!-- 画像が存在しない場合のデフォルト画像 -->
            <div style="width: 100px; height: 100px;"></div>
          <% end %>
          <div class="card-body">
            <%= link_to admin_recipe_path(recipe) do %>
              <h5 class="card-title"><%= recipe.title %></h5>
            <% end %>
            <p class="card-text"><%= recipe.genre.name %></p>
            <p class="card-text">by <%= link_to recipe.user.name, admin_user_path(recipe.user) %></p>
            <% if recipe.is_deleted %>
              <!-- 削除済みの場合 -->
              <p class="card-text">管理者が削除</p>
            <% else %>
              <!-- 削除されていない場合 -->
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- ページネーションの表示 -->
  <div class="d-flex justify-content-center">
    <%= paginate @recipes, theme: 'bootstrap-5' %>
  </div>
</div>
