<div class="container my-4 px-sm-1">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-11 col-lg-10 col-xl-8 px-sm-0 px-md-1">
      <div class="px-1 ml-md-2">
        <h3 class="bg-light" style="max-width: 180px;">レシピの編集</h3>
          <%= form_with model: @recipe, url: public_recipe_path(@recipe.id), method: :patch do |f| %>

            <% if @recipe.errors.any? %>
              <% ingredient_errors = @recipe.errors.select{|o|o.class == ActiveModel::NestedError}.map{|o|I18n.t("activerecord.attributes.recipe.#{o.attribute}") + o.message}.uniq %>
              <%= @recipe.errors.count %>件のエラーが発生しました
              <ul>
                <% @recipe.errors.select{|o| o.class == ActiveModel::Error }.each do |message| %>
                  <li><%= message.full_message %></li>
                <% end %>
                <% ingredient_errors.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>

            <div class="form-group" style="max-width: 400px;">
              <h5>画像</h5>
              <% if @recipe.post_image.attached? %>
                <%= link_to public_recipe_path(@recipe) do %>
                  <%= image_tag @recipe.post_image, size: "100x100" %>
                <% end %>
              <% else %>
                <!--#画像が存在しない場合も100px×100pxの間隔を空けるように設定-->
                <div style="width: 100px; height: 100px;"></div>
              <% end %>
              <%= f.file_field :post_image, class: "form-control-file" %>
            </div>

            <div class="row">
              <div class="form-group col-md-6" style="max-width: 400px;">
                <h5>タイトル</h5>
                <%= f.text_field :title, class: "form-control" %>
              </div>
              <div class="form-group col-md-6" style="max-width: 400px;">
                <h5>紹介文</h5>
                <%= f.text_area :body, class: "form-control" %>
              </div>
            </div>
            
            <div class="row">
              <div class="form-group col-md-3" style="max-width: 400px;">
                <h5>何人分</h5>
                <%= f.text_field :serving, class: "form-control" %>
              </div>
              <div class="form-group col-md-3" style="max-width: 400px;">
                <h5>調理時間</h5>
                <%= f.text_field :cooking_time, class: "form-control" %>
              </div>
              <div class="form-group col-md-3" style="max-width: 400px;">
                <h5>ジャンル</h5>
                <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "ジャンルを選択してください" }, class: "form-control" %>
              </div>
              <div class="form-group col-md-3" style="max-width: 400px;">
                <h5>材料費/人</h5>
                <%= f.collection_select :price_range_id, PriceRange.all, :id, :name, { prompt: "材料費を選択してください" }, class: "form-control" %>
              </div>
            </div>
            
            <!-- 材料と分量 -->
            <div class="row">
              <div class="form-group col-md-10">
                <h5>材料・分量・価格</h5>
                <div id="ingredients">
                  <!-- Initial set of ingredient and quantity fields -->
                  <%= f.fields_for :ingredients do |ingredient| %>
                    <%= render "ingredients_form", ingredient: ingredient %>
                  <% end %>
                </div>
                <div class="links">
                  <%= link_to_add_association "材料と分量を追加", f, :ingredients, class: "btn btn-success btn-sm add-ingredient-quantity" %>
                </div>
              </div>
            </div>

            <!-- 作り方 -->
            <div class="form-group">
              <%= f.label :steps, "作り方" %>
              <div class="steps-container">
                <%= f.fields_for :steps do |step_fields| %>
                  <%= render "step_form", step: step_fields %>
                <% end %>
              </div>
              <%= link_to_add_association "調理工程を追加", f, :steps, class: "btn btn-success btn-sm add-ingredient-quantity" %>
            </div>

            <!-- 保存ボタン -->
            <div class="row d-flex justify-content-center align-items-center">
              <div class="form-group col-md-6 text-center">
                <%= f.submit "保存", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

