<div class="container col-xl-11 col-lg-9 my-4 px-sm-1">
  <div class="col-md-10 offset-md-1">
    <h3 class="bg-light text-center" style="width: 300px;">みんなのレシピ一覧</h3>
    <!--#ransack検索フォーム-->
    <%= search_form_for @q, url: public_recipes_path do |f| %>
      <!--#るtitle_or_body or user_name：検索キーワード。このrecipeモデルにあるtitle,body(カラム名)とUserモデルのuser_nameを記載している。
      _cont：検索対象の属性に部分文字列が含まれているかどうかをチェックするために使用している。/RECIPES/app/models/recipe.rbに検索に関する内容を記載-->
      <div class="d-md-flex justify-content-md-between flex-md-wrap">
        <div class="form-group" style="width: 60%;">
          <!-- キーワード検索フォーム -->
          <%= f.search_field :title_or_body_or_user_name_cont, class: 'form-control', placeholder: 'レシピ名/ユーザー名で検索' %>
        </div>
        <div class="form-group" style="max-width: 200px;">
          <!-- プルダウン形式のジャンル検索フォーム -->
          <%= f.collection_select(:genre_id_eq, Genre.all, :id, :name, { include_blank: '選択しない' }, class: 'form-control') %>
        </div>
        <div class="form-group" style="max-width: 200px;">
          <!-- プルダウン形式の価格帯検索フォーム -->
          <%= f.collection_select(:price_range_id_eq, PriceRange.all, :id, :name, { include_blank: '選択しない' }, class: 'form-control') %>
        </div>
        <div class="form-group">
          <%= f.submit '検索', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <!--#並べ替え 新着順/いいね順-->
    <%= link_to '新着順', public_recipes_path(latest: "true") %>/
    <%= link_to '人気順', public_recipes_path(most_favorited: "true") %>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="bg-light">
            <th></th>
            <th></th>
            <th>タイトル</th>
            <th>ジャンル</th>
            <th>投稿者</th>
            <th>材料費/人</th>
            <th>投稿日時</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <!--削除されたレシピは非表示に設定-->
              <% if recipe.is_deleted == false %>
                <td></td>
                <td>
                  <% if recipe.post_image.attached? %>
                    <%= link_to public_recipe_path(recipe) do %>
                      <%= image_tag recipe.post_image, size: "100x100" %>
                    <% end %>
                  <% else %>
                    <!-- 画像が存在しない場合も100px×100pxの間隔を空けるように設定 -->
                    <div style="width: 100px; height: 100px;"></div>
                  <% end %>
                </td>
                <td>
                  <%= link_to public_recipe_path(recipe) do %>
                    <%= recipe.title %>
                  <% end %>
                </td>
                <!-- ジャンル名の記載 -->
                <td><%= recipe.genre.name %></td>
                <!-- 投稿者名の記載 -->
                <td>by <%= link_to recipe.user.name, recipes_public_user_path(recipe.user) %></td>
                <!-- 価格帯の記載 -->
                <td><%= recipe.price_range.name %></td>
                <!-- 投稿日時の記載 -->
                <td><%= recipe.created_at.strftime('%Y/%m/%d') %></td>
                <!-- ♯いいね機能の実装 -->
                <td id="recipe_favorite-btn_<%= recipe.id %>"><%= render "public/favorites/favorite-btn", recipe: recipe %></td>
              <% else %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- ページネーションの表示 -->
    <div class="d-flex justify-content-center">
      <%= paginate @recipes, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
