<div class="container my-4 px-sm-1">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-10 px-sm-0 px-md-1">
      <div class="px-1 ml-md-2">
        <h3 class="bg-light text-center ml-5 mb-4" style="max-width: 300px;">レシピの新規作成</h3>
      </div>
      <%= form_with model: @recipe, url: public_recipes_path, method: :post do |f| %>
      
        <% if @recipe.errors.any? %>
          <% ingredient_errors = @recipe.errors.select{|o|o.class == ActiveModel::NestedError}.map{|o|I18n.t("activerecord.attributes.recipe.#{o.attribute}") + o.message}.uniq %>
          <%= @recipe.errors.count %>件のエラーが発生しました
          <ul>
            <% @recipe.errors.select{|o| o.class == ActiveModel::Error }.each do |message| %>
              <li><%= message.full_message %></li>
            <% end %>
            <% ingredient_errors.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="row">
          <div class="form-group col-md-6">
            <h5>タイトル</h5>
            <%= f.text_field :title, placeholder: "例）チーズとブロッコリーのグラタン", class: "form-control" %>
          </div>
          <div class="form-group col-md-6">
            <h5>紹介文</h5>
            <%= f.text_area :body, placeholder: "レシピの紹介文を入力", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-3">
            <h5>何人分</h5>
            <%= f.text_field :serving, placeholder: "例）2人分", class: "form-control" %>
          </div>
          <div class="form-group col-md-3">
            <h5>調理時間</h5>
            <%= f.text_field :cooking_time, placeholder: "例）30分", class: "form-control" %>
          </div>
          <div class="form-group col-md-3">
            <h5>ジャンル</h5>
            <!-- ジャンルの選択肢を追加するフォーム要素 -->
            <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
          </div>
          <div class="form-group col-md-3">
            <h5>材料費/人</h5>
            <!-- ジャンルの選択肢を追加するフォーム要素 -->
            <%= f.collection_select :price_range_id, PriceRange.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <h5>画像</h5>
            <%= f.file_field :post_image, class: "form-control-file", required: true %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-10">
            <h5>材料・分量・価格</h5>
            <div id="ingredients">
              <%= f.fields_for :ingredients do |ingredient| %>
                <%= render "ingredients_form", ingredient: ingredient %>
              <% end %>
            </div>
            <div class="links">
              <%= link_to_add_association "材料・分量・価格を追加", f, :ingredients, class: "btn btn-success btn-sm add-ingredient-quantity" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-8">
            <h5>作り方</h5>
            <div class="steps-container">
              <!-- ビューファイルのフォーム部分で step_images フィールドに name 属性を指定し、配列としてサーバーに送信できるよう設定 -->
              <%= f.fields_for :steps do |step| %>
                <%= render "step_form", step: step %>
              <% end %>
            </div>
            <div class="links">
              <%= link_to_add_association "調理工程を追加", f, :steps, class: "btn btn-success btn-sm dd-step" %>
            </div>
          </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <div class="form-group col-md-6 text-center">
            <%= f.submit 'レシピ投稿', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
