<% if @recipe.present? && @user.is_deleted == false %>
  <div class="container my-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h3 class="card-title">レシピ詳細</h3>
        <div>
          <% if @recipe.user == current_user %>
            <%= link_to 'レシピ編集', edit_public_recipe_path(@recipe), class: "btn btn-sm btn-success mr-2" %>
            <%= link_to 'レシピ削除', public_user_recipe_path(@recipe.user, @recipe), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 text-center">
            <h4><%= @recipe.title %></h4>
            <% if @recipe.post_image.attached? %>
              <%= link_to public_recipe_path(@recipe) do %>
                <%= image_tag @recipe.post_image, size: "300x300", class: "img-fluid" %>
              <% end %>
            <% else %>
              <!-- 画像が存在しない場合は何も表示しない -->
            <% end %>
          </div>
          <div class="col-md-4">
            <!--#何人前-->
            <div class="recipe-info">
              <h6><%= @recipe.serving %></h6>
            </div>
            <!--#調理時間-->
            <div class="recipe-info">
              <h6>調理時間：<%= @recipe.cooking_time %></h6>
            </div>
            <!--#材料費-->
            <div class="recipe-info">
              <h6>材料費/人：<%= @recipe.price_range.name %></h6>
            </div>
            <div class="recipe-info">
              <h6>投稿日時：<%= @recipe.created_at.strftime('%Y/%m/%d') %></h6>
            </div>
            <a href="#" data-toggle="modal" data-target="#descriptionModal">
              <!--#simple_formatメソッドを使用して改行を反映させる-->
              <%= simple_format(truncate(@recipe.body, length: 50, omission: '...')) %>
            </a>
            <style>
              .recipe-info {
                margin-bottom: 10px;
              }
            </style>
            <!--#投稿者-->
            <div class="recipe-info">
              <%= link_to recipes_public_user_path(@recipe.user) do %>
                <%= image_tag @recipe.user.get_profile_image(100, 100), class: "img-fluid rounded-circle mr-2", style: 'max-width:30px;' %>
              <% end %>
              <%= link_to @recipe.user.name, recipes_public_user_path(@recipe.user) %>
            </div>
            <!--#いいね機能の実装 非同期通信化-->
            <div id="recipe_favorite-btn_<%= @recipe.id %>"><%= render "public/favorites/favorite-btn", recipe: @recipe %></div>
            <!--#ブックマーク機能の実装 非同期通信化-->
            <div class="bookmark-btn_<%= @recipe.id %>"><%= render "public/bookmarked_recipes/bookmark-btn", recipe: @recipe %></div>
            
            <!-- 説明内容のモーダルウィンドウ -->
            <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="descriptionModalLabel">レシピ詳細</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= simple_format(@recipe.body) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- 材料と分量 -->
            <div class="form-group">
              <h5>材料と分量</h5>
                <div class="ingredients-quantities-container">
                  <% @recipe.ingredients.each do |item| %>
                    <%= content_tag(:div, class: "ingredient-and-quantity row") do %>
                      <div class="col text-left">
                        <%= item[:name] %>
                      </div>
                      <div class="col text-center">
                        <%= item[:quantity] %>
                      </div>
                      <div class="col text-right">
                        <%= item[:price] %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <div class="mt-4">
          <div class="form-group col-md-12">
            <h5>作り方</h5>
              <div class="row steps-container">
                <% @recipe.steps.each_with_index do |step, index| %>
                  <div class="col-md-2">
                    <%= content_tag(:div, class: "step") do %>
                      <div class="step-image">
                        <% if step.step_image.attached? %>
                          <%= image_tag step.step_image, size: "100x100" %>
                        <% else %>
                          <!-- 画像が存在しない場合は何も表示しない -->
                        <% end %>
                        <div class="step-number">
                          <strong><%= index + 1 %></strong>
                        </div>
                      </div>
                      <div class="step-description">
                        <%= simple_format(step.description) %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
          </div>
        </div>
        <div class="mt-4">
        <!--#/RECIPES/app/models/recipe.rbにvalid_commentsを記載。コメントがis_deleted: false且つユーザーがis_deleted: falseのコメントを表示-->
        <%= link_to "#{@recipe.valid_comments.count} 件のコメントをすべて見る", "#commentModal", data: { toggle: "modal" } %>
          <!-- コメント一覧のモーダルウィンドウ -->
          <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="commentModalLabel">コメント一覧</h5>
                    <!--/RECIPES/app/models/recipe.rbにvalid_commentsを記載。コメントがis_deleted: false且つユーザーがis_deleted: falseのコメントを表示-->
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <% if @recipe.comments.present? %>
                    <% @recipe.comments.each do |comment| %>
                      <div class="row">
                        <!--#会員ステータスが有効且つ管理者によってコメントが削除されていない場合-->
                        <% if comment.user.is_deleted == false && comment.is_deleted == false %>
                          <div class="col-10" style="margin-top: 20px">
                            <%= link_to recipes_public_user_path(comment.user) do %>
                              <%= image_tag comment.user.get_profile_image(100, 100), class: "img-fluid rounded-circle mr-2", style: 'max-width:30px;' %>
                            <% end %>
                            <%= link_to comment.user.name, recipes_public_user_path(comment.user) %>
                            <!--「time_ago_string」関するコード-->
                            <% comment.created_at = comment.created_at.in_time_zone("Tokyo") %>
                            <% time_ago = Time.zone.now - comment.created_at %>
                            <% seconds_ago = time_ago.to_i %>
                            <% if seconds_ago < 60 %>
                              <% time_ago_string = "#{seconds_ago}秒前" %>
                            <% elsif seconds_ago < 3600 %>
                              <% minutes_ago = seconds_ago / 60 %>
                              <% time_ago_string = "#{minutes_ago}分前" %>
                            <% elsif seconds_ago < 86400 %>
                              <% hours_ago = seconds_ago / 3600 %>
                              <% time_ago_string = "#{hours_ago}時間前" %>
                            <% else %>
                              <% days_ago = seconds_ago / 86400 %>
                              <% time_ago_string = "#{days_ago}日前" %>
                            <% end %>
                            <!-- コメントの投稿時間を表示 -->
                            <%= time_ago_string %><br>
                            <%= simple_format(comment.comment) %>
                          </div>
                          <div class="col-2" style="margin-top: 20px">
                            <% if comment.user == current_user %>
                              <%= link_to "削除", public_recipe_comment_path(comment.recipe, comment), method: :delete, data: { confirm: '本当に消しますか？' } %>
                            <% end %>
                          </div>
                        <!--#会員ステータスが有効且つ管理者によってコメントが削除された場合-->
                        <% elsif comment.user.is_deleted == false && comment.is_deleted == true %>
                          <% if comment.user == current_user %>
                            <div class="col-12" style="margin-top: 20px">
                              <p class="text-muted">管理者によってコメントが削除されました</p>
                            </div>
                          <% end %>
                        <!--#会員ステータスが退会済みの場合-->
                        <% elsif comment.user.is_deleted= true && comment.is_deleted == false %>
                        <% end %>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="col-12">
                      <p class="text-muted">コメントがありません</p>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="w-50">
            <%= form_with model: [@recipe, @comment], url: public_recipe_comments_path(@recipe), method: :post do |f| %>
              <!-- コメントの投稿フォーム -->
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
              <!-- エラーメッセージ -->
              <% if @comment.errors.any? %>
                <%= @comment.errors.count %>件のエラーが発生しました
                <ul>
                  <% @comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              <% end %>
              <!-- コメント送信ボタン -->
              <%= f.submit "送信する", class: 'btn btn-danger btn-comment mt-2' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
    <h3 class="text-center">レシピはありません</h3>
  </div>
<% end %>

