<!DOCTYPE html>
<html>
  <head>
    <title>CookingRecipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--AOSの実装-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <main>
      <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  </body>
</html>
<script>
  AOS.init();
</script>
